
$palette1: #FF4242;
$palette2: #FF5B64;
$palette2tp: rgba(255, 91, 100, 0.9);
$palette3: #ff8e8e; // rosa mais claro
$palette3tp: rgba(255, 142, 142, 0.9);



$menuBg: $palette1;
$menuBrandColor: white;
$menuColor: white;
$menuActiveBg: $palette3;

$sectionBg: rgba(255, 255, 255, 0.7);

$introServicoColor: $palette1;
$introServicoBg: rgba(255, 255, 255, 0.8);
$poemaColor: white;
$poemaBg: $palette2tp;

$servicosBg: white;
$servicoIconColor: $palette1;

$livrosHeadingColor: white;
$livrosHeadingBg: $palette2tp;
$livroHoverBg: $palette2tp;

$vidariaBg: rgba(255, 255, 255, 0.8);//$sectionBg;

$imprensaHeadingColor: white;
$imprensaHeadingBg: $palette2tp;
$imprensaHoverBg: $palette2tp;


$footerBg: $menuBg;
$socialBtnColor: white;
$socialBtnHover: $menuBg;

$btnBg: $palette1;
$btnBorder: #E53B3B;
$btnColor: $menuColor;
$btnActiveBg: #E53B3B;

$panelBorder: $menuBg;
$panelHeadingBg: $menuBg;
$panelTitleColor: $menuColor;


body {
  width: 100%;
  height: 100%;
  min-height: 100%;
  background-size: cover;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-position: center center;
  background-image: url("../img/background.jpg");

}

html {
  width: 100%;
  height: 100%;
}

.navbar-default {
  background-color: $menuBg;
  border: none;

  .navbar-toggle {
    border-color: $menuColor;
    &:focus {
      background-color: $menuBg;
    }
    &:hover {
      background-color: $menuActiveBg;
    }
    .icon-bar {
      background-color: $menuColor;
    }
  }
  .navbar-collapse {
    border-color: $menuColor;
  }

  .bookmark {
    display: inline-block;
    width: 18px;
    position: relative;
    left: 4px;
  }

  .navbar-brand {
    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
    font-family: 'Playfair Display', serif;
    font-size: 1.8em;
    font-weight: 700;
    display: block;
    float: none;
    text-align: center;
    visibility: hidden;
    color: transparent;
    &:hover, &:focus {
      color: transparent;
    }
  }
  &.affix .navbar-brand {
    visibility: visible;
    color: $menuBrandColor;
  }

  @media (min-width:768px) and (max-width: 992px) {
    .navbar-brand {
      padding-left: 0px;
    }

    .navbar-nav > li > a {
      padding-left: 11px;
      padding-right: 10px;
    }

  }

  .navbar-nav {
    > li {
      > a {
        color: $menuColor;
        &:focus {
          color: $menuColor;
        }
        &:hover {
          color: $menuColor;
          background-color: $palette2; 
        }
      }
    }
    > .active {
      > a, > a:hover, > a:focus {
        color: $menuColor;
        background-color: $menuActiveBg;
      }
    }
  }
}

#intro {
  padding-top: 130px;
  padding-bottom: 100px;
  margin-bottom: 50px;
  text-align: center;
  background-color: $sectionBg;

  .bookmark {
    max-width: 78px;
    position: relative;
    top: 3px;
    left: 10px;
  }

  .intro-title {
    font-family: 'Playfair Display', serif;
    font-size: 5em;
    font-weight: 700;
    margin: 0;
    display: inline;
  }

  .intro-servicos {
    padding: 8px 15px;
    background-color: $introServicoBg;
    color: $introServicoColor;
    list-style-type: none;
    font-weight: bold;
    display: inline-block;
  }

  .intro-servicos li {
    padding: 2px 5px;
    font-size: 1.1em;
  }

  @media(min-width:768px) {
    .intro-title {
      font-size: 7.5em;
    }

    .intro-servicos {
      margin-bottom: 15px;
    }

    .intro-servicos li {
      display: inline-block;
      padding: 0 11px;
      font-size: 1.05em;
    }
  }

  @media(min-width:992px) {
    .intro-servicos li {
      padding: 0 30px;
      font-size: 1.1em;
    }
  }

  .intro-texto {
    padding-top: 10px;
    font-size: 1.25em;
    font-family: 'Droid Sans', sans-serif;
  }

  .intro-poema {
    padding-top: 10px;
    padding-bottom: 20px;
    line-height: 1.6;
    font-size: 1.6em;
    font-family: 'Playfair Display', serif;
    font-weight: bold;
  }

  mark {
    color: $poemaColor;
    background-color: $poemaBg;
    padding: 0 10px;
  }

  mark.first {
    padding-left: 15px;
  }

  mark.last {
    padding-right: 15px;
  }
}

#servicos {
  padding-top: 40px;

  .container-servicos {
    padding-top: 25px;
    text-align: center;
    background-color: $servicosBg;
  }

  .title-servico {
    padding-bottom: 15px;
    font-size: 1.6em;
    font-weight: bold;
  }

  .fa.icon-servico {
    color: $servicoIconColor;
  }

  h4 {
    font-size: 1.35em;
  }

  .text-servico {
    padding: 0 10px;
  }

  @media(min-width: 500px) {
    .text-servico {
      padding: 0 100px;
    }  
  }

  @media(min-width: 768px) {
    .text-servico {
      padding: 0;
    }  
  }

  @media(min-width: 992px) {
    .text-servico {
      padding: 0 9px;
    }  
  }

  .servico-btn {
    margin-top: 15px;
    margin-bottom: 50px;
  }
}

.modal .texto-modal-ajudo {
  padding-right: 10px;
}

#video {
  padding-top: 80px;
  padding-bottom: 40px;
  text-align: center;
}

#sobre {
  padding-top: 60px;
  padding-bottom: 30px;
  text-align: center;

  .sobre-heading {
    font-family: 'Playfair Display', serif;
    font-size: 2.8em;
    font-weight: 700;
  }

  .sobre-text {
    text-align: justify;
    font-size: 1.1em;
    padding-bottom: 10px;
  }

  .dropcap {
    float: left;
    font-size: 70px;
    line-height: 56px;
    padding-top: 3px;
    padding-right: 6px;
    font-family: Georgia;
  }

  .with-margin {
    margin: 0 -5px;
  }

  .col-sobre {
    background-color: white;
    padding: 20px 25px 25px 15px;
  }

  .icone-estrela {
    padding: 10px 0 20px;
  }

  .img-gabi {
    float: none;
    max-width: 200px;
    margin: 0 auto 10px;
  }

  @media(min-width: 400px) {
    .img-gabi {
      float: left;
      margin: 0 10px 0 0;
    } 
    .col-sobre {
      padding: 40px 50px 40px 40px;
    }
  }

  @media(min-width: 600px) {
   .img-gabi {
      max-width: 250px;
      margin: 5px 20px 10px 0;
    }
    .col-sobre {
      padding: 60px 80px 50px 70px;
    }
  }

  @media(min-width:768px) {
    .col-sobre {
      padding: 60px 100px 50px 90px;
    }

    .icone-estrela {
      padding: 15px 0 25px;
    }
  }
} 

#livros {
  padding-top: 50px;
  padding-bottom: 50px;
  text-align: center;

  .livros-heading {
    font-family: 'Playfair Display', serif;
    font-weight: bold;
    color: $livrosHeadingColor;
    background-color: $livrosHeadingBg;
    display: inline-block;
    padding: 3px 15px;
    margin-bottom: 40px;
  }

  .livro-item {
    margin-bottom: 30px;
  }
  .livro-item .livro-link {
    display: block;
    position: relative;
    max-width: 250px;
    margin: 0 auto;
    outline: none;
  }

  .livro-item .livro-link.livro-oma {
    margin-top: 61px;
  }

  .livro-item .livro-link .livro-hover {
    background-color: $livroHoverBg;
    position: absolute;
    width: 100%;
    height: 100%;
    opacity: 0;
    transition: all ease 0.5s;
    -webkit-transition: all ease 0.5s;
    -moz-transition: all ease 0.5s;
  }
  .livro-item .livro-link .livro-hover:hover {
    opacity: 1;
  }
  .livro-item .livro-link .livro-hover .livro-hover-content {
    position: absolute;
    width: 100%;
    height: 20px;
    font-size: 20px;
    text-align: center;
    top: 50%;
    margin-top: -12px;
    color: white;
  }
  .livro-item .livro-link .livro-hover .livro-hover-content i {
    margin-top: -12px;
  }
  .livro-item .livro-caption {
    max-width: 250px;
    margin: 0 auto;
    background-color: white;
    text-align: center;
    padding: 5px 20px 20px;
  }
  * {
    z-index: 2;
  }
}

.modal-livro .livro-titulo-modal {
  padding-bottom: 10px;
}

#vidaria {
  margin-top: 25px;
  padding-top: 50px;
  padding-bottom: 100px;
  background-color: $vidariaBg;

  .logo-vidaria {
    max-height: 120px;
    margin: auto;
    margin-bottom: 25px;
  }

  .text-vidaria {
    font-size: 1.1em;
    text-align: justify;
  }

  .img-vidaria {
    max-height: 480px;
  }

  @media(max-width: 767px) {
    .text-vidaria {
      font-size: 1em;
    }
    .img-vidaria {
      max-height: 400px;
      margin: auto;
    }
  }
}

#imprensa {
  padding-top: 50px;
  padding-bottom: 50px;
  text-align: center;

  .imprensa-heading {
    display: inline-block;
    font-family: 'Playfair Display', serif;
    font-weight: bold;
    padding: 3px 15px 7px;
    margin-bottom: 20px;
    color: $imprensaHeadingColor;
    background-color: $imprensaHeadingBg;
  }

  .imprensa-item {
    margin: 0 0 30px;
  }
  .imprensa-item .imprensa-link {
    display: block;
    position: relative;
    max-width: 400px;
    margin: 0 auto;
    outline: none;
  }
  .imprensa-item .imprensa-link .imprensa-hover {
    background-color: $imprensaHoverBg;
    position: absolute;
    width: 100%;
    height: 100%;
    opacity: 0;
    transition: all ease 0.5s;
    -webkit-transition: all ease 0.5s;
    -moz-transition: all ease 0.5s;
  }
  .imprensa-item .imprensa-link .imprensa-hover:hover {
    opacity: 1;
  }
  .imprensa-item .imprensa-link .imprensa-hover .imprensa-hover-content {
    position: absolute;
    width: 100%;
    height: 20px;
    font-size: 20px;
    text-align: center;
    top: 50%;
    margin-top: -12px;
    color: white;
  }
  .imprensa-item .imprensa-link .imprensa-hover .imprensa-hover-content i {
    margin-top: -12px;
  }
  .imprensa-item .imprensa-caption {
    display: block;
    max-width: 400px;
    text-align: center;
    padding: 25px 0;
    background-color: #f2f2f2;
    outline: none;
  }
  .imprensa-item .imprensa-caption h4 {
    margin: 0;
    color: #333;
  }
  * {
    z-index: 2;
  }
}

#contato {
  padding-top: 100px;
  padding-bottom: 100px;
  text-align: center;
  min-height: 50%;
  background-color: $sectionBg;
}

footer {
  padding: 20px 0;
  text-align: center;
  background-color: $footerBg;

  span.copyright {
    line-height: 40px;
    text-decoration: none;
  }

  span.author {
    line-height: 40px;
  }
}

ul.social-buttons {
  margin-bottom: 0;
}
ul.social-buttons li a {
  display: block;
  height: 40px;
  width: 40px;
  border-radius: 100%;
  font-size: 20px;
  line-height: 40px;
  color: $socialBtnColor;
  outline: none;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  transition: all 0.3s;

  &.facebook {
    background-color: #3b5998;
  }

  &.twitter {
    background-color: #00acee;
  }

  &.linkedin {
    background-color: #0e76a8;
  }
}

ul.social-buttons li a:hover,
ul.social-buttons li a:focus,
ul.social-buttons li a:active {
  background-color: $socialBtnColor;
  color: $socialBtnHover;
}

.panel-custom {
  border-color: $panelBorder;

  >.panel-heading {
    background-color: $panelHeadingBg;
    border-color: $panelBorder;
  }

  .panel-title {
    color: $panelTitleColor;
    font-size: 1.7em;
  }
}

.btn-custom {
  background-color: $btnBg;
  border-color: $btnBorder;
  color: $btnColor;

  &:hover,
  &:focus,
  &:active,
  &.active {
    background-color: $btnActiveBg;
    color: $btnColor;
  }
}
