body {
  width: 100%;
  height: 100%;
  min-height: 100%;
  background-size: cover;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-position: center center;
  background-image: url("../img/background.jpg"); }

html {
  width: 100%;
  height: 100%; }

.navbar-default {
  background-color: #FF4242;
  border: none; }
  .navbar-default .navbar-toggle {
    border-color: white; }
    .navbar-default .navbar-toggle:focus {
      background-color: #FF4242; }
    .navbar-default .navbar-toggle:hover {
      background-color: #ff8e8e; }
    .navbar-default .navbar-toggle .icon-bar {
      background-color: white; }
  .navbar-default .navbar-collapse {
    border-color: white; }
  .navbar-default .menu-logo {
    display: inline-block;
    width: 18px;
    position: relative;
    left: 4px; }
    .navbar-default .menu-logo path {
      fill: transparent;
      webkit-transition: fill 0.5s ease-in-out;
      -moz-transition: fill 0.5s ease-in-out;
      transition: fill 0.5s ease-in-out; }
  .navbar-default.affix .menu-logo path {
    fill: white; }
  .navbar-default .navbar-brand {
    -webkit-transition: color 0.5s ease-in-out, visibility 0.5s ease-in-out;
    -moz-transition: color 0.5s ease-in-out, visibility 0.5s ease-in-out;
    transition: color 0.5s ease-in-out, visibility 0.5s ease-in-out;
    font-family: 'Playfair Display', serif;
    font-size: 1.8em;
    font-weight: 700;
    display: block;
    float: none;
    text-align: center;
    visibility: hidden;
    color: transparent; }
    .navbar-default .navbar-brand:hover, .navbar-default .navbar-brand:focus {
      color: transparent; }
  .navbar-default.affix .navbar-brand {
    visibility: visible;
    color: white; }
  @media (min-width: 768px) and (max-width: 992px) {
    .navbar-default .navbar-brand {
      padding-left: 0px; }
    .navbar-default .navbar-nav > li > a {
      padding-left: 11px;
      padding-right: 10px; } }
  .navbar-default .navbar-nav > li > a {
    color: white; }
    .navbar-default .navbar-nav > li > a:focus {
      color: white; }
    .navbar-default .navbar-nav > li > a:hover {
      color: white;
      background-color: #FF5B64; }
  .navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus {
    color: white;
    background-color: #ff8e8e; }

#intro {
  min-height: 100%;
  padding-top: 130px;
  padding-top: 14vmax;
  padding-bottom: 100px;
  margin-bottom: 50px;
  text-align: center;
  background-color: rgba(255, 255, 255, 0.7); }
  #intro .intro-banner {
    margin-left: -2.3%; }
  #intro .intro-logo {
    position: relative;
    top: 0.5vw;
    left: 0.7%;
    max-width: 9.1vw; }
  #intro .intro-title {
    font-family: 'Playfair Display', serif;
    font-size: 12vw;
    font-weight: 700;
    display: inline; }
  #intro .intro-servicos {
    padding: 8px 15px;
    background-color: rgba(255, 255, 255, 0.8);
    color: #FF4242;
    list-style-type: none;
    font-weight: bold;
    display: inline-block;
    margin-top: 20px; }
  #intro .intro-servicos li {
    padding: 2px 5px;
    font-size: 1.1em; }
  @media (min-width: 768px) {
    #intro .intro-logo {
      top: 0.3vw;
      left: 0.7%;
      max-width: 6.8vw; }
    #intro .intro-title {
      font-size: 9vw; }
    #intro .intro-servicos {
      margin-top: 0px;
      margin-bottom: 15px; }
    #intro .intro-servicos li {
      display: inline-block;
      padding: 0 11px;
      font-size: 1.05em; } }
  @media (min-width: 992px) {
    #intro {
      padding-top: 10vmax; }
      #intro .intro-servicos li {
        padding: 0 30px;
        font-size: 1.1em; } }
  #intro .intro-texto {
    padding-top: 10px;
    font-size: 1.25em;
    font-family: 'Droid Sans', sans-serif; }
  #intro .intro-poema {
    padding-top: 10px;
    padding-bottom: 20px;
    line-height: 1.6;
    font-size: 1.6em;
    font-family: 'Playfair Display', serif;
    font-weight: bold; }
  #intro mark {
    color: white;
    background-color: rgba(255, 91, 100, 0.9);
    padding: 0 10px; }
    #intro mark.first {
      padding-left: 15px; }
    #intro mark.last {
      padding-right: 15px; }

#servicos {
  padding-top: 40px; }
  #servicos .container-servicos {
    padding-top: 25px;
    text-align: center;
    background-color: white; }
  #servicos .title-servico {
    padding-bottom: 15px;
    font-size: 1.6em;
    font-weight: bold; }
  #servicos .fa.icon-servico {
    color: #FF4242; }
  #servicos h4 {
    font-size: 1.35em; }
  #servicos .text-servico {
    padding: 0 10px; }
  @media (min-width: 500px) {
    #servicos .text-servico {
      padding: 0 100px; } }
  @media (min-width: 768px) {
    #servicos .text-servico {
      padding: 0; } }
  @media (min-width: 992px) {
    #servicos .text-servico {
      padding: 0 9px; } }
  #servicos .servico-btn {
    margin-top: 15px;
    margin-bottom: 50px; }

.modal .texto-modal-ajudo {
  padding-right: 10px; }

#video {
  padding-top: 80px;
  padding-bottom: 40px;
  text-align: center; }

#sobre {
  padding-top: 60px;
  padding-bottom: 30px;
  text-align: center; }
  #sobre .sobre-heading {
    font-family: 'Playfair Display', serif;
    font-size: 2.8em;
    font-weight: 700; }
  #sobre .sobre-text {
    text-align: justify;
    font-size: 1.1em;
    padding-bottom: 10px; }
  #sobre .dropcap {
    float: left;
    font-size: 70px;
    line-height: 56px;
    padding-top: 3px;
    padding-right: 6px;
    font-family: Georgia; }
  #sobre .with-margin {
    margin: 0 -5px; }
  #sobre .col-sobre {
    background-color: white;
    padding: 20px 25px 25px 15px; }
  #sobre .icone-estrela {
    padding: 10px 0 20px; }
  #sobre .img-gabi {
    float: none;
    max-width: 200px;
    margin: 0 auto 10px; }
  @media (min-width: 400px) {
    #sobre .img-gabi {
      float: left;
      margin: 0 10px 0 0; }
    #sobre .col-sobre {
      padding: 40px 50px 40px 40px; } }
  @media (min-width: 600px) {
    #sobre .img-gabi {
      max-width: 250px;
      margin: 5px 20px 10px 0; }
    #sobre .col-sobre {
      padding: 60px 80px 50px 70px; } }
  @media (min-width: 768px) {
    #sobre .col-sobre {
      padding: 60px 100px 50px 90px; }
    #sobre .icone-estrela {
      padding: 15px 0 25px; } }

#livros {
  padding-top: 50px;
  padding-bottom: 50px;
  text-align: center; }
  #livros .livros-heading {
    font-family: 'Playfair Display', serif;
    font-weight: bold;
    color: white;
    background-color: rgba(255, 91, 100, 0.9);
    display: inline-block;
    padding: 3px 15px;
    margin-bottom: 40px; }
  #livros .livro-item {
    margin-bottom: 30px; }
  #livros .livro-item .livro-link {
    display: block;
    position: relative;
    max-width: 250px;
    margin: 0 auto;
    outline: none; }
  #livros .livro-item .livro-link.livro-oma {
    margin-top: 61px; }
  #livros .livro-item .livro-link .livro-hover {
    background-color: rgba(255, 91, 100, 0.9);
    position: absolute;
    width: 100%;
    height: 100%;
    opacity: 0;
    transition: all ease 0.5s;
    -webkit-transition: all ease 0.5s;
    -moz-transition: all ease 0.5s; }
  #livros .livro-item .livro-link .livro-hover:hover {
    opacity: 1; }
  #livros .livro-item .livro-link .livro-hover .livro-hover-content {
    position: absolute;
    width: 100%;
    height: 20px;
    font-size: 20px;
    text-align: center;
    top: 50%;
    margin-top: -12px;
    color: white; }
  #livros .livro-item .livro-link .livro-hover .livro-hover-content i {
    margin-top: -12px; }
  #livros .livro-item .livro-caption {
    max-width: 250px;
    margin: 0 auto;
    background-color: white;
    text-align: center;
    padding: 5px 20px 20px; }
  #livros * {
    z-index: 2; }

.modal-livro .livro-titulo-modal {
  padding-bottom: 10px; }

#vidaria {
  margin-top: 25px;
  padding-top: 50px;
  padding-bottom: 100px;
  background-color: rgba(255, 255, 255, 0.8); }
  #vidaria .logo-vidaria {
    max-height: 120px;
    margin: auto;
    margin-bottom: 25px; }
  #vidaria .text-vidaria {
    font-size: 1.1em;
    text-align: justify; }
  #vidaria .img-vidaria {
    max-height: 480px; }
  @media (max-width: 767px) {
    #vidaria .text-vidaria {
      font-size: 1em; }
    #vidaria .img-vidaria {
      max-height: 400px;
      margin: auto; } }

#imprensa {
  padding-top: 50px;
  padding-bottom: 50px;
  text-align: center; }
  #imprensa .imprensa-heading {
    display: inline-block;
    font-family: 'Playfair Display', serif;
    font-weight: bold;
    padding: 3px 15px 7px;
    margin-bottom: 20px;
    color: white;
    background-color: rgba(255, 91, 100, 0.9); }
  #imprensa .imprensa-item {
    margin: 0 0 30px; }
  #imprensa .imprensa-item .imprensa-link {
    display: block;
    position: relative;
    max-width: 400px;
    margin: 0 auto;
    outline: none; }
  #imprensa .imprensa-item .imprensa-link .imprensa-hover {
    background-color: rgba(255, 91, 100, 0.9);
    position: absolute;
    width: 100%;
    height: 100%;
    opacity: 0;
    transition: all ease 0.5s;
    -webkit-transition: all ease 0.5s;
    -moz-transition: all ease 0.5s; }
  #imprensa .imprensa-item .imprensa-link .imprensa-hover:hover {
    opacity: 1; }
  #imprensa .imprensa-item .imprensa-link .imprensa-hover .imprensa-hover-content {
    position: absolute;
    width: 100%;
    height: 20px;
    font-size: 20px;
    text-align: center;
    top: 50%;
    margin-top: -12px;
    color: white; }
  #imprensa .imprensa-item .imprensa-link .imprensa-hover .imprensa-hover-content i {
    margin-top: -12px; }
  #imprensa .imprensa-item .imprensa-caption {
    display: block;
    max-width: 400px;
    text-align: center;
    padding: 25px 0;
    background-color: #f2f2f2;
    outline: none; }
  #imprensa .imprensa-item .imprensa-caption h4 {
    margin: 0;
    color: #333; }
  #imprensa * {
    z-index: 2; }

#contato {
  padding-top: 100px;
  padding-bottom: 100px;
  text-align: center;
  min-height: 50%;
  background-color: rgba(255, 255, 255, 0.7); }

footer {
  padding: 20px 0;
  text-align: center;
  background-color: #FF4242; }
  footer span.copyright {
    line-height: 40px;
    text-decoration: none; }
  footer span.author {
    line-height: 40px; }
  footer .social-column {
    padding-left: 0px;
    padding-right: 0px; }
  @media (min-width: 768px) and (max-width: 900px) {
    footer .middle-name {
      display: none; } }
  footer ul.social-buttons {
    margin-bottom: 0; }
  footer ul.social-buttons li a {
    display: block;
    height: 40px;
    width: 40px;
    border-radius: 100%;
    font-size: 20px;
    line-height: 40px;
    color: white;
    outline: none;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s; }
    footer ul.social-buttons li a.facebook {
      background-color: #3b5998; }
    footer ul.social-buttons li a.twitter {
      background-color: #00acee; }
    footer ul.social-buttons li a.linkedin {
      background-color: #0e76a8; }
  footer ul.social-buttons li a:hover,
  footer ul.social-buttons li a:focus,
  footer ul.social-buttons li a:active {
    background-color: white;
    color: #FF4242; }

#acaua-modal {
  text-align: center; }
  @media (max-width: 400px) {
    #acaua-modal h2 {
      font-size: 7.5vw; } }
  #acaua-modal a {
    text-decoration: none; }
    #acaua-modal a:hover, #acaua-modal a:focus, #acaua-modal a:active {
      color: #FF4242; }
  #acaua-modal ul {
    display: inline-block; }
    #acaua-modal ul li {
      text-align: left;
      padding: 3px 0; }
      #acaua-modal ul li i {
        padding-right: 5px;
        position: relative;
        top: 2px;
        width: 40px;
        text-align: center; }
        #acaua-modal ul li i.fa-linkedin {
          color: #0e76a8; }
        #acaua-modal ul li i.fa-github {
          color: #333; }
        #acaua-modal ul li i.fa-envelope {
          color: #FF4242; }
        #acaua-modal ul li i.fa-whatsapp {
          color: #43d854; }

.panel-custom {
  border-color: #FF4242; }
  .panel-custom > .panel-heading {
    background-color: #FF4242;
    border-color: #FF4242; }
  .panel-custom .panel-title {
    color: white;
    font-size: 1.7em; }

.btn-custom {
  background-color: #FF4242;
  border-color: #E53B3B;
  color: white; }
  .btn-custom:hover, .btn-custom:focus, .btn-custom:active, .btn-custom.active {
    background-color: #E53B3B;
    color: white; }
